.welcome-section {
  position: relative;
  margin-top: 128px;
  margin-bottom: 128px;
}
.welcome-header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #009cc4;
}
.welcome-title {
  font-family: "Unna";
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 49px;
}
.welcome-btn {
  position: absolute;
  width: 197px;
  height: 55px;
  top: 368px;
  background-color: white;
  border: 1px solid #009cc4;
  font-weight: 600;
}
.welcome-btn:hover {
  background-color: #009cc4;
  color: aliceblue;
}
.cards {
  width: 480px;
  height: 367px;
  padding: 76px 63px 63px 75px;
}
.card-color {
  background: #f3f0e9;
}
.cards-info {
  display: flex;
  align-items: center;
  /* gap: 30px; */
  justify-content: space-evenly;
  margin-bottom: 30px;
}
.cards-info h1 {
  font-family: "Unna";
  font-style: normal;
  font-weight: 400;
  font-size: 62px;
  line-height: 63px;

  text-align: center;

  color: #009cc4;
}
.cards-info h2 {
  font-family: "Unna";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
}
